<head>
    <meta charset="utf-8"/>
    
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>{% BIND pagename %} - {% BIND appName %}</title>

    <!-- CSS files tabler -->
    <link href="/dist/css/tabler.min.css?1668287865" rel="stylesheet"/>
    <link href="/dist/css/tabler-flags.min.css?1668287865" rel="stylesheet"/>
    <link href="/dist/css/tabler-payments.min.css?1668287865" rel="stylesheet"/>
    <link href="/dist/css/tabler-vendors.min.css?1668287865" rel="stylesheet"/>

    <style>
      @import url('https://rsms.me/inter/inter.css');
      :root {
      	--tblr-font-sans-serif: Inter, -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
      }
    </style>

    <!-- JS leafletmaps -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

    <!-- JS sattelite.js -->
    <script src="/dist/js/satellite.min.js"></script>

</head>