<tr onclick="location.href = '/observation/{% BIND item.id %}'" style="{% IF item.id==observation.id USE background-color:antiquewhite %}">
    <td>{% BIND item.transmitter.modulation.name %}</td>
    <td>
      <span class="badge 
        {% IF item.status==fail      USE bg-danger %}
        {% IF item.status==success   USE bg-success %}
        {% IF item.status==recording USE bg-info %}
        {% IF item.status==decoding  USE bg-warning %}
        {% IF item.status==planed    USE bg-primary %}
        {% IF item.status==assigned  USE bg-secondary %}
        {% IF item.status==recorded  USE bg-light %}
      me-1"></span> {% BIND item.status %}
    </td>
    <td>{% BIND item.start %}</td>
    <td>{% BIND item.end %}</td>
</tr>